body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  padding: 40px;
}

input, button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 250px;
}

button {
  background: #22c55e;
  border: none;
  font-weight: bold;
}

